@import "../modules/colors";
@import"../modules/mixins";
@import"../modules/size";
@import "typography";



header{
  background-color: $bg-nav;
min-height: 70px;
display: flex;
vertical-align: middle;
justify-content: center;
border-bottom: 1px solid $nav-border-color;
border-top: 0.5px solid $nav-border-color;

nav {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 300px;



  ul {


    list-style: none;
    margin: 0;
    padding: 0;
    li {

      float: left;
      position: relative;
      text-align: center;
      a {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        text-decoration: none;
        color: $nav-font-color;
        background: $bg-nav;
        font-size: $font-size-nav;
        &:hover {
            color: $white;
            background-color: $bg-hover-nav;
        }
        &:not(:only-child):after {
          padding-left: 8px;
           content: ' ▾';
        }
      }
      ul li {
        min-width: 150px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-dropdown
{
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}
.nav-mobile
{
  display: none;
  position: absolute;
  top:0;
  right:0;
  left: 10px;
  height: $nav-height;
  width: $nav-height;
  background: $bg-nav;
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $font-primary-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {

    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
@include respond-to-max(xsmall){
  .nav-mobile {
    display: block;
    background-color: $bg-nav;
  }
   nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
         a {
          padding: 15px;
          line-height: 20px;
          font-size: $font-size-nav;
        }
        ul li a {
          padding-left: 20px;
        }
      }
    }
  }

 .nav-dropdown {
   position: static;
  }
}




@include respond-to-min(medium)
{
  .nav-list{
    display: block !important;
  }
}
.brand
{
  position: absolute;

  float: left;
  font-weight: $light;
  line-height: $nav-height;
    @include respond-to-min(large){font-size:  $font-size-logo; }
    @include respond-to-max(small){font-size:  $font-size-mobile-large; right:30px;}
    @include respond-to-min(medium){font-size:  $font-size-tablet-regular}
  a{
    text-decoration: none;
    color: $white;
    .hilight
    {
      font-weight: $bold;
    }
  }

}

}
