$font-primary-color:  #000000;
$white: #ffffff;
$bg-gray: #E5E5E5;
$bg-dark-gray: #d4d4d4;
$bg-footer: #272729;
$bg-dark-cyan: #201E6B;
$bg-cyan: #3B38C4;
$bg-light-green: #40704B;
$bg-dark-green: #24402A;
$bg-container: #F5F5F5;
$bg-nav: #276511;
$bg-hover-nav: #19521E;
$nav-border-color: #123D13;
$nav-font-color: #D9D5DE;
$transparent-gray: rgb(24,25,25);
